.carrito-nosesion{
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 7%;
    margin-bottom: 17%;
}
.lista-producto{
	display : flex;
	flex-direction: row;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.12);
	margin-top: 30px;
	width: 94%;
	height: 5%;
	margin-left: 1.5%;
}
.imagen-carrito{
	width: 10%;
	height: 15%;
}
.lista-detalles{
	display: flex;
	flex-direction: column;
	margin-left: 0.5%;
}
.detalles{
	font-weight: bold;	
}
.boton-borrar{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background: red;
	padding: 2%;
	margin-left: 40%;
	font-size: 36px;
}
.carrito-vacio{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9%;
    margin-bottom: 20%;
}
.precio-carrito{
    font-size: 2em;
    color: #197fca;
    letter-spacing: 4px; 
	font-weight: bold;
}
.botoncompra-carrito{
    text-align: center;
    background-color: #197fca;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    border:1.5px solid #197fca;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}
.botoncompra-carrito:hover{
    border:1.5px solid #197fca;
    color: #197fca;
    background-color: #fff;
}
.totalcarrito{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 2%;
	margin-top: 3%;
}