.menu{
    margin-left:50px; 
}
.lista-menu{
	display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.link-menu{
    color: white;
    text-decoration: none;
    border: 1px solid black;
    background-color: #197FCA;
    padding: 5px;
}
