*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'fuente';
}
@font-face {
			font-family: 'fuente';
			src: url('../font/gillsansstd-light.otf');
			font-weight: normal;
			font-style: normal;
			}
body{
	background: #eaeaea;
	margin: 0;
}
input{	
	outline: none;
}
	html{
	position: relative;
}
.stockprod{
	
	padding-left: 30px;

	color: black;

}
footer{
	position: absolute;
	bottom: 0;
}



.linea3{
	margin-left: 1.5%;
	margin-right:5%;
}
.productos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}
#stock{
	
	padding-bottom: 35px;
	
}
h2{
	font-family: 'fuente';
}

.triangulo1{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 30px 0 0;
	
border-color: #197fca transparent transparent transparent;

}
.triangulo2{
	width: 0;
		height: 0;
	border-style: solid;
	border-width: 0 30px 100px 0;
	border-color: transparent #197fca transparent transparent;
	position: absolute;
	right: 0%;
	top: 30%;
}
.barraazul{
	background-size:100%;
	position: absolute;
	left:0%;
	cursor: default;
	top:85%;
	width:100%;
	height:3%;
	z-index:-1;
	background-color: #197fca;
}
.triangulo3{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 0 0 30px;
	border-color: transparent transparent transparent #197fca;
	position: absolute;
	left: 0%;
	top: 80%;

}
.triangulo4{
	width: 0;
	height: 0;
border-style: solid;
border-width: 0 0 100px 30px;
border-color: transparent transparent #197fca transparent;
position: absolute;
	right: 0%;
	top: 80%;

}
.paginas{
	   display: flex;
		flex-direction: row;
		justify-content: center;
		
}
.paginas a{
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 10px;
	color: #000;
}


@media screen and (max-width: 850px) {

	
.productos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	
	
}
	#stock{
		margin-top: 20px;
	}
	.stockprod{
		font-size: 20px;
	}

}

